body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.main-header,
.main-footer{
    background: #444;
    width: 100vw;
    color: #fff;
    padding: 40px;
}

.site-title{
    display: block;
    float: left;
    color: #28a745 ;
}
#my-image{
    box-shadow: 0 0 2px 1px black;
} 
.hobby ul li{
    list-style: square;
}
.hobby ul li:nth-child(odd){
    background-color: lightblue;
}
nav ul{
    list-style: none;
    display: flex;
}
.navbar{
width: 100%;
position: fixed;
top: 0;
margin-right: 50px;
} 
.navbar ul{
float: right;
}

.navbar a{
color: #fff;
text-decoration: none;
padding: 10px 20px;
margin-right: 70px;
} 
.navbar ul li a{
display: inline-block;
padding: 10px 20px;
background: #28A745;
border: #fff 2px solid;
border-radius: 5px;
}
.navbar a:hover{
background:rgb(8, 14, 12);
}
.text-primary{
    color: red;
}
dt{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
